@font-face {
    font-family: 'aeonik_bold';
    src: url('./fonts/webfontkit-aeonik/aeonik-bold-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_trialbold_italic';
    src: url('./fonts/webfontkit-aeonik/aeonik-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_light';
    src: url('./fonts/webfontkit-aeonik/aeonik-light-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_triallight_italic';
    src: url('./fonts/webfontkit-aeonik/aeonik-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_regular';
    src: url('./fonts/webfontkit-aeonik/aeonik-regular-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_regular_italic';
    src: url('./fonts/webfontkit-aeonik/aeonik-regularitalic-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-aeonik/aeonik-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}