@import "/node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "/node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;600;700;900&display=swap');

@font-face {
    font-family: 'aeonik_bold';
    src: url('/fonts/aeonik-bold-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_bold_italic';
    src: url('/fonts/aeonik-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_light';
    src: url('/fonts/aeonik-light-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_light_italic';
    src: url('/fonts/aeonik-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_regular';
    src: url('/fonts/aeonik-regular-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeonik_regular_italic';
    src: url('/fonts/aeonik-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/aeonik-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-color: 255, 236, 0;
    --light-color: 255, 255, 255;
    --dark-color: 0, 0, 0;

}

body,
html {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: 'aeonik_regular', sans-serif;
    line-height: 2.5rem;
}

h3,
h4,
h5,
h6,
p,
span {
    font-family: 'aeonik_regular', Helvetica, sans-serif;
}

h1 {
    font-size: clamp(2.4rem, 4vw, 4rem);
    font-weight: 600;
    color:rgba(var(--dark-color));
    margin: 2rem;
    text-align: center;
    text-shadow: 2px 2px 48px hsla(0, 0%, 0%, 0.4);
}

h2 {
    font-size: clamp(2rem, 1.8vw, 3.4rem);
    font-weight: 600;
    margin: 2rem;
    text-align: center;
}

h3 {
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: clamp(0.9rem, 1.8vw, 1.4rem);
    margin: 0.5rem;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-color:rgba(var(--main-color));
    position: fixed;
    padding: 0px 20px;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    background: url("/img/logo.png") no-repeat;
    background-size:130px;
    height:130px;
    width:130px;
    float:left;


}

.navmenu {
    
    align-items: center;
    justify-content: flex-end !important;
    float:right;
    padding-right: 50px;
    
}

.hero {
    background-color:rgba(var(--main-color));
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
}



.hero > h2, .general-description > h2 {
    padding-top: 0.5rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2.5rem;
}

.button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
}

.section-description > .button-container {
    align-items: unset;
    justify-content: flex-start;
}

.general-description {
    color:rgba(var(--light-color));
    min-height: 48vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(var(--dark-color));
}

.general-description > a > .secondary-btn {
    background-color:rgba(var(--main-color));
}

.hero-btn {
    font-size: clamp(1rem, 1.1rem, 1.4rem);
    font-weight: 500;
    border: 1px solid rgba(var(--dark-color));
    font-family: 'Archivo', Helvetica, sans-serif !important;
    padding: 1.5rem 2.5rem;
    border-radius: 0rem;
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
}

.scroll-btn {
    background-color: rgba(var(--dark-color));
    color:rgba(var(--light-color));
    transition: 0.2s;
}

.scroll-btn:hover {
    
    text-shadow:
        0 0 7px rgba(var(--light-color)),
        0 0 10px rgba(var(--light-color)),
        0 0 21px rgba(var(--light-color)),
        0 0 42px rgba(var(--light-color)),
        0 0 82px rgba(var(--light-color)),
        0 0 92px rgba(var(--light-color)),
        0 0 102px rgba(var(--light-color)),
        0 0 151px rgba(var(--light-color));
    transition: 0.2s;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid rgba(var(--dark-color));
    color:rgba(var(--dark-color));
    white-space: nowrap;
    transition: 0.2s;
}

.secondary-btn:hover {
    border: 1px transparent;
    background-color: rgba(var(--light-color));
    box-shadow: 0 0 7px rgba(var(--dark-color)),
                0 0 10px rgba(var(--light-color)),
                0 0 21px rgba(var(--light-color)),
                0 0 42px rgba(var(--light-color)),
                0 0 82px rgba(var(--light-color)),
                0 0 92px rgba(var(--light-color)),
                0 0 102px rgba(var(--light-color)),
                0 0 151px rgba(var(--light-color));
    transition: 0.2s;
    
}





.sections {
    margin-top: 8rem;
    width: 100%;
    text-align: center;
}

.sections>h2 {
    margin: 0;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8rem 0;
    padding: 0 8rem;
}

:is([id$="-section"], [id$="-step"]) {
    scroll-margin-top: 80px;
}

.section p {
    text-align: left;
    line-height: 1.4rem;
}

.section img {
    width: 18rem;
}

.hintMark {
    width: unset !important;
}
.section-description {
    margin: 0 1rem 0 2rem;
    padding: 0 4rem;
}

.datepicker-orient-left {
    left: unset !important;
    right: 16px;
}

.section-description > h1, .section-description > h2, .section-description > h3 {
    text-align: left;
    margin: 1rem 0;
    margin-top: 2rem;
    line-height: 2.5rem;
}

.section-description > h1 {

    line-height: 4.5rem;
}


.section-description > h3 {
    color: #5C5C5C;
}

.section-description > p {
    font-size: clamp(1.1rem, 1.2vw, 2.4rem);
    line-height: 1.7rem;
    color:rgba(var(--dark-color));
    
}
    
.icons {
        float: left;
        font-size: 0.9em;
        margin: 1rem 2rem 3rem;
}

.icons-row {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    color: black !important;
    white-space: nowrap;
    width: min-content;
    
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-icon {
    font-size: 3rem;
}

.icons-row-full {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    color: #5C5C5C !important;
}


.icon-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 248px;
    transition: 0.2s;
}

.icon-full:hover, .icon-full:hover > .section-icon{
    color: #0A3857 !important;
    transition: 0.2s;
}

.icon-full > span, strong {
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
    line-height: 1.4rem;
    text-align: center;
}

.book-btn {
    margin: 0.2rem;
    width: auto;
}

.subtitle-description {
    margin-top: 2rem;
    font-size: clamp(1.5rem, 1.2vw, 3rem);
}

.glide-container {
    height: 700px;
    width: 550px;
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-left: 7rem;
}

.glide__slide {
    position: relative;
    overflow: hidden;
    height: 700px;
    width: 550px;
}

.slide-left {
    -webkit-animation: slide-left .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-left .5s cubic-bezier(.25, .46, .45, .94) both
}

.arrow-down {
    
    position: relative;
    width: 100%;
}

.arrow-down::before {
    animation: bounce 2s ease infinite;
    bottom: 2rem;
    color:rgba(var(--light-color));
    content: '╲╱';
    font-size: 2rem;
    height: 2rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 2rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 4rem;
}

.arrow-down.dark::before {
    animation: bounce 2s ease infinite;
    bottom: 2rem;
    color:rgba(var(--dark-color));
    content: '╲╱';
    font-size: 2rem;
    height: 2rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 2rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-questions {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
.message-box {
    background-color: transparent;
    border: 1px solid rgba(var(--dark-color));
    padding: 0.4rem 1rem;
    width: 14rem;
    height: 2rem;
}

.message-box {
    height: 6rem;
    width: 18rem;
    resize: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    background-color:rgba(var(--main-color));
    color:rgba(var(--dark-color));
}

/* Responsive */

@media screen and (max-width: 1700px) {

    .section {
        padding: 0 4rem;
    }

    .section-description {
        padding: 0;
    }
}

@media screen and (max-width: 1480px) {
    .glide-container {
        margin-left: 0;
        height: 600px;
        width: 400px;
    }

    .glide__slide {
        height: 600px;
        width: 400px;
    }
}

@media screen and (max-width: 1280px) {

    header {
    padding: 0px;
    }

    .navbar {
        width: 130px;

    .navmenu {
        display: none;
    }
    }

.hero {
        padding-top: 50px;
    }

    .hero > h2, .general-description > h2 {
        padding-left: 1%;
        padding-right: 1%;
        font-size: clamp(1.8rem, 1.5vw, 3.2rem);
        
    }

    h1, h2 {
        
        margin: 1.5rem;

    }

    .book-btn {
        width: 84% !important;
    }

    .section-description {
        margin: 0 2rem;
    }

    .section-description > h1, .section-description > h2, .section-description > h3 {
        text-align: center;
        margin: 1rem 0;
        margin-top: rem;
        line-height: 3rem;
    }

    .section-description > h3 {
        line-height: 1.5rem;
    }

    .section-description > .button-container {
        align-items: center;
        justify-content: center;
    }

    .icons-row {
        gap: 1rem;
        margin: 3rem 0;
    }

    .icons-row-full {
        gap: 1rem;
    }

    .arrow-down::before {
        left: 54%;
    }

    
    
    .nav-container {
        gap: 60%;
    }
}

@media screen and (max-width: 880px) {
    
    .book-btn {
        width: 94% !important;
    }

    .section {
        flex-direction: column;
    }

    .section {
        gap: 2rem;
    }

    .glide-container {
        width: 94%;
        height: auto;
    }

    .glide__slide {
        width: 100%;
    }
    
    .button-container {
        flex-direction: column;
        gap: 20px;
    }
    
    .form-questions {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
    }

    input,
    .message-box {
        width: 100%;
        overflow: hidden;
    }

    .personal-info {
        width: 100%;
    }

    .contact-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-container {
        gap: 30%;
    }

    .header > h2, .header > h3 {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;    
    }

    :is([id$="-section"], [id$="-step"]) {
        scroll-margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {

    .nav-container {
        gap: 40%;
    }

    header > .secondary-btn {
        display: none;
    }

    .section {
        padding: 0 0.4rem;
    }

    .icons-row-full {
        flex-direction: column;
    }

    .form-questions {
        width: 80%;
    }

    .book-btn {
        font-size: 1.2rem;
    }

    input,
    .message-box {
        width: auto;
    }

    .personal-info {
        width: 100%;
    }

    .contact-form {
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    
    .icons-row {
        margin: 2rem 0;
        flex-direction: column;
        width: 48%;
        float: left;
    }

    .book-btn {
        font-size: 1.4rem;
    }

    .section-description {
        margin: 0 4%;
    }

    .section-icon {
        margin: 0 4%;
        font-size: 3rem;
    }

    .section p {
        padding-left: 10px;
    }
}

/* Animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-50%);
    }
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-1px) rotate(3deg);
    }

    80% {
        transform: translateY(-1px) rotate(-3deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}
